

<div class="form-group">
  <form>
    <div class="book-name">
    <input class="form-control me-auto" type="text" 
    placeholder="Add your book name..."
     aria-label="Add your item here..."
     [ngModel]="book.bookTitle"
     (ngModelChange)="book.bookTitle=$event">
     </div>
     </form>
    <button type="button" class="btn btn-secondary" 
    (click)="book.bookTitle='test'">Reset Book Name</button>
    <div class="vr"></div>
    <!-- <button type="button" class="btn btn-outline-danger">Reset</button> -->
  </div>
  <h4>Book Title is {{book.bookTitle}}</h4>