body {

  background-color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.form-group,
p {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;

}

button {

  border-radius: 8px;
  color: white;
  background-color: steelblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.form-group,
h2 {

  margin: 50px;

}
