<form [formGroup]="form" (ngSubmit)="login()">
   <legend>
      Sign Up
   </legend>
   <div class="mb-3">
      <label for="username" class="form-label">
      Username:
      </label>
      <input  type="text" id="username"  class="form-control" placeholder="jon.doe@email" formControlName="username">
      <div *ngIf="form.controls.username.touched && !form.controls.username.valid" class="alert alert-danger">Username is required!</div>
   </div>
   <div id="emailHelp" class="form-text">We'll never share your email with anyone else.    
   </div>
   <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" class="form-control" placeholder="******"
         formControlName="password">
      <div *ngIf="form.controls.password.touched &&
         form.controls.password.errors">
         <div *ngIf="form.controls.password.errors.invalidLogin"
            class="alert alert-danger">Username or password is invalid.</div>
         <div *ngIf="form.controls.password.errors.required" class="alert alert-danger">
            Password is required.
         </div>
         <div *ngIf="form.controls.password.errors.cannotContainSpace" class="alert alert-danger">
            Password cannot contain space.
         </div>
      </div>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
   <button type="button" class="btn btn-primary" (click)="logout()">
   Logout
   </button>
   </form>